.block__banner
    .banner__wrapper.c-white
        h2.banner__name Центр социального обеспечения
        h2.banner__name Еврейский благотворительный центр

        p.banner__description 
            <b>«Шаарей цедек»</b> – это уникальная благотворительная организация, созданная для помощи еврейскому населению Москвы. На данный момент «Шаарей цедек» – самый крупный центр, среди функционирующих в СНГ.
        .btns#banner-btns
            a.btn.btn-primary#btn-banner(href="") Об организации
            a.btn.btn-white#btn-banner(href="") Благотворительность
    //- .qr-code
    //-     .qr-code__wrapper.c-white
    //-         h3.qr-code__name Отправить пожертвование
    //-         img(src="./img/qr-code.png", alt="")
    //-         p.qr-code__description Наведите камеру телефона для сканирования QR-Кода и отправки пожертвования
    //-         a.btn.btn-white#btn-qr-code(href="") Узнать подробнне
    //-         img(src="./img/x.png", alt="").qr-code__x