footer
    .footer-wrapper
        .footer-menu
            nav
                ul
                    li 
                        a(href="#") Партнеры
                    li 
                        a(href="#")  Постановка на учет
                    li 
                        a(href="#") Информация для подопечных
                ul
                    li 
                        a(href="#") О нас
                    li 
                        a(href="#")  Новости
                    li 
                        a(href="#") Наши проекты
                ul
                    li 
                        a(href="#") Контакты
                    li 
                        a(href="#")
                            span +7 (499) 754-7-770
        p.footer-cop.c-white © Copyright - РБОФ ПТЕК "Шаарей Цедек" города Москвы 2014-2024гг. Enfold Theme by Kriesi