.block__news
    h1.block__naming НОВОСТИ

    .news-wrapper
        .news__item
            .item__wrapper
                h2.item__naming В благотворительном центре «Шаарей Цедек» продолжается подготовка к празднику Шавуот.
                .item__info
                    .item.item__img
                        img(src="./img/news-img.png", alt="")
                    .item.item__text
                        p.text И вот праздник совсем близко. Всю неделю мы рассказывали о событиях его предваряющих. Об этом можно прочитать здесь (https://t.me/shaarey_tzedek/748), (https://t.me/shaarey_tzedek/748) и тут (https://t.me/shaarey_tzedek/790), (https://t.me/shaarey_tzedek/790) и тут (https://t.me/shaarey_tzedek/793). (https://t.me/shaarey_tzedek/793) Мы заказывали продукты, обзванивали людей, принимали продукты, фасовали, выдавали многодетным семьям общины, развозили подопечным, которые не выходят на улицу, раздавали тем, кто не в состоянии приготовить себе горячий обед и приезжает к нам в столовую. В этих хлопотах время шло стремительно — мы и не заметили, как подоспел праздник. Дорогие друзья, мы признательны вам за теплые слова благодарности, которые услышали в эти дни! Мы желаем вам хорошего праздника, доброго застолья и добрых гостей! Мы желаем, чтобы ваш Шавуот прошел так, как заведено традицией! Хаг Самеах!
                        p.date 11.06.2024
                        a.btn.btn-blue#btn-news(href="#") Читать далее
        .news__item
            .item__wrapper
                h2.item__naming В благотворительном центре «Шаарей Цедек» продолжается подготовка к празднику Шавуот.
                .item__info
                    .item.item__img
                        img(src="./img/news-img.png", alt="")
                    .item.item__text
                        p.text И вот праздник совсем близко. Всю неделю мы рассказывали о событиях его предваряющих. Об этом можно прочитать здесь (https://t.me/shaarey_tzedek/748), (https://t.me/shaarey_tzedek/748) и тут (https://t.me/shaarey_tzedek/790), (https://t.me/shaarey_tzedek/790) и тут (https://t.me/shaarey_tzedek/793). (https://t.me/shaarey_tzedek/793) Мы заказывали продукты, обзванивали людей, принимали продукты, фасовали, выдавали многодетным семьям общины, развозили подопечным, которые не выходят на улицу, раздавали тем, кто не в состоянии приготовить себе горячий обед и приезжает к нам в столовую. В этих хлопотах время шло стремительно — мы и не заметили, как подоспел праздник. Дорогие друзья, мы признательны вам за теплые слова благодарности, которые услышали в эти дни! Мы желаем вам хорошего праздника, доброго застолья и добрых гостей! Мы желаем, чтобы ваш Шавуот прошел так, как заведено традицией! Хаг Самеах!
                        p.date 11.06.2024
                        a.btn.btn-blue#btn-news(href="#") Читать далее
    .btn.btn-blue#btn-show_more Показать ещё