h1.block__naming НАШИ ПРОЕКТЫ
p.block_description Здоровая община начинается со здоровых людей — тело, ум и душа. Получая поддержку через сеть оздоровительных и досуговых общинных программ, которые предлагает «Шаарей Цедек», еврейские семьи и пожилые люди начинают жить здоровой, полноценной жизнью. Особенно надо отметить такие программы как «Обеды на колёсах», «Скорая помощь», «Патронаж», «Цдака.ру» и другие. Многолетний опыт деятельности в области благотворительности позволил нашему фонду найти новые формы работы, благодаря которым выявлен новый потенциал этих программ. В нашей работе мы руководствуемся принципами индивидуального подхода при оказании помощи. Взаимодействие наших благотворительных программ обеспечивает полноценное питание, физический тонус, творческое выражение, и интеллектуальное развитие каждого клиента, пришедшего в центр.

.block__subnaming
    .line
    p.subnaming Благотворительность
    .line

.block__slider
    
    .swiper.swiper-test
      
      .swiper-wrapper
        
        .swiper-slide Slide 1
        .swiper-slide Slide 2
        .swiper-slide Slide 3
        .swiper-slide Slide 4
        .swiper-slide Slide 5
      
      .white-block
      .white-block.white-block-right
        
      .swiper-pagination
      
      .swiper-button-prev
      .swiper-button-next

      //- .swiper-scrollbar
a(href="#").btn.btn-blue#btn-op Узнать подробнее
    

script(src="./js/dev_swiper.js" type="module")

    