@font-face {
  font-family: "Play-Regular";
  src: url("../fonts/Play/Play-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Play-Bold";
  src: url("../fonts/Play/Play-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Italic";
  src: url("../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
}
body {
  font-family: "Montserrat";
  overflow-x: hidden;
}

footer {
  margin-top: 10em;
  width: 100%;
  background-color: #242424;
  padding: 6em 0 3em;
}
footer .footer-wrapper {
  width: 80%;
  margin: 0 auto;
}
footer .footer-wrapper .footer-menu {
  max-width: 912px;
  margin-bottom: 95px;
}
footer .footer-wrapper .footer-menu nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 50px;
       column-gap: 50px;
  row-gap: 100px;
}
footer .footer-wrapper .footer-menu nav ul {
  height: 135px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
footer .footer-wrapper .footer-menu nav ul li {
  list-style-type: none;
}
footer .footer-wrapper .footer-menu nav ul li a {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}
footer .footer-wrapper .footer-menu nav ul li a span {
  font-weight: 500;
}
footer .footer-wrapper .footer-menu nav ul:nth-child(3) {
  justify-content: flex-start;
}
footer .footer-wrapper p.footer-cop {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.block__banner {
  width: 100%;
  background: url("../img/header__bg-sm.png") no-repeat center;
  background-size: cover;
  position: relative;
}
.block__banner .banner__wrapper {
  padding: 345px 0 80px 185px;
}
.block__banner .banner__wrapper h2.banner__name {
  color: rgb(255, 255, 255);
  font-family: "Play-Bold";
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 18px;
}
.block__banner .banner__wrapper p.banner__description {
  margin-top: 40px;
  max-width: 1100px;
  font-size: 24px;
  font-weight: 400;
}
.block__banner .qr-code {
  width: 287px;
  height: 374px;
  padding: 36px 58px 16px;
  position: fixed;
  right: 40px;
  top: 548px;
  z-index: 4;
  border-radius: 25px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: rgba(24, 24, 24, 0.4);
}
.block__banner .qr-code .qr-code__wrapper {
  position: relative;
  min-height: 325px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.block__banner .qr-code .qr-code__wrapper h3.qr-code__name {
  font-size: 20px;
  font-weight: 600;
}
.block__banner .qr-code .qr-code__wrapper p.qr-code__description {
  font-size: 16px;
  font-weight: 300;
  min-width: 230px;
}
.block__banner .qr-code .qr-code__wrapper img.qr-code__x {
  position: absolute;
  top: -18px;
  right: -34px;
  width: 10px;
  height: 9.33px;
  cursor: pointer;
}

.btns {
  margin-top: 62px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}
.wrapper h1.block__naming {
  font-family: "Play-Bold";
  font-size: 48px;
  padding-bottom: 1em;
  text-transform: uppercase;
}
.wrapper p.block_description {
  font-size: 20px;
  font-weight: 300;
  text-align: left;
}
.wrapper .block__subnaming {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4em 0 4.5em;
}
.wrapper .block__subnaming .line {
  width: 40%;
  height: 1px;
  background-color: #797979;
}
.wrapper .block__subnaming p.subnaming {
  font-size: 24px;
  font-weight: 400;
}
.wrapper .block__slider {
  position: relative;
  overflow-x: hidden;
  min-height: 605px;
}
.wrapper .block__slider .swiper {
  max-width: 1225px;
  height: 540px;
  overflow: visible !important;
  position: relative;
}
.wrapper .block__slider .swiper .white-block {
  position: absolute;
  top: 0;
  left: -51%;
  width: 50%;
  height: 100%;
  background-color: #ffffff;
  z-index: 2;
}
.wrapper .block__slider .swiper .white-block-right {
  right: -54% !important;
  left: auto;
}
.wrapper .block__slider .swiper .swiper-wrapper {
  align-items: center;
}
.wrapper .block__slider .swiper .swiper-wrapper .swiper-slide {
  max-width: 360px;
  height: 475px;
  border: 2px solid blue;
  border-radius: 30px;
  transition: all 0.25s ease-in-out;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.wrapper .block__slider .swiper .swiper-wrapper .swiper-slide-active {
  max-width: 410px;
  width: 410px !important;
  height: 540px !important;
}
.wrapper .block__slider .swiper .swiper-button-prev {
  left: -12%;
  z-index: 10;
}
.wrapper .block__slider .swiper .swiper-button-next {
  right: -12%;
  z-index: 10;
}
.wrapper .block__slider .swiper .swiper-pagination {
  bottom: -63px;
}
.wrapper .block__slider .swiper .swiper-pagination .swiper-pagination-bullet {
  background: rgba(36, 45, 255, 0.65);
}
.wrapper .block__slider .swiper .swiper-pagination .swiper-pagination-bullet-active {
  background: rgb(36, 45, 255);
  width: 20px;
  border-radius: 30px;
}
.wrapper .block__info {
  padding: 52px 0 73px;
}
.wrapper .block__info .info__sub {
  margin: 0 0 2.5em;
}
.wrapper .block__info p.info__descr {
  font-size: 24px;
}
.wrapper .block__news {
  margin-top: 80px;
}
.wrapper .block__news .news-wrapper {
  width: 100%;
}
.wrapper .block__news .news-wrapper .news__item {
  width: 100%;
  min-height: 700px;
  padding: 1.5em;
  margin-bottom: 60px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
}
.wrapper .block__news .news-wrapper .news__item .item__wrapper h2.item__naming {
  max-width: 1100px;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 60px;
}
.wrapper .block__news .news-wrapper .news__item .item__wrapper .item__info {
  display: grid;
  grid-template-columns: 60% 36%;
  -moz-column-gap: 3%;
       column-gap: 3%;
}
.wrapper .block__news .news-wrapper .news__item .item__wrapper .item__info .item__img img {
  width: 100%;
  min-height: 440px;
}
.wrapper .block__news .news-wrapper .news__item .item__wrapper .item__info .item__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper .block__news .news-wrapper .news__item .item__wrapper .item__info .item__text p.text {
  width: 100%;
  max-height: 290px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 24px;
  font-weight: 400;
}
.wrapper .block__news .news-wrapper .news__item .item__wrapper .item__info .item__text p.date {
  font-size: 20px;
  font-weight: 600;
}
.wrapper .block__news .news-wrapper .news__item:hover {
  box-shadow: 0px 0px 10px 0px rgb(36, 45, 255);
}

.blur__background {
  width: 100%;
  min-height: 580px;
  background: url("../img/blur__bg.png") no-repeat center;
  background-size: cover;
}

.c-white {
  color: #ffffff;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  border-radius: 30px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  padding: 0 60px;
}

.btn-blue {
  color: rgb(36, 45, 255);
  border: 2px solid rgb(36, 45, 255);
}

.btn-white {
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
}

.btn-primary {
  color: rgb(255, 255, 255);
  background-color: rgb(36, 45, 255);
}

#btn-op {
  max-width: 410px;
  margin: 115px auto 52px;
}

#btn-wh {
  width: 550px;
  margin-right: 40px;
}

#btn-pr {
  width: 500px;
}

#btn-news {
  font-size: 20px;
  width: 227px;
  padding: 0 42px;
}

#btn-show_more {
  margin: 0 auto;
  max-width: 300px;
}

#btn-banner {
  max-width: 470px;
}

#btn-banner:nth-child(2) {
  margin-left: 25px;
}

#banner-btns {
  margin-top: 88px;
}

#btn-qr-code {
  max-width: 175px;
  padding: 8px 15px;
  font-size: 14px;
  height: auto;
}

@media (max-width: 1900px) {
  .wrapper .block__slider {
    margin-left: -40px;
  }
  .wrapper .block__slider .swiper .swiper-button-prev {
    left: -4%;
    z-index: 10;
  }
  .wrapper .block__slider .swiper .swiper-button-next {
    right: -7%;
    z-index: 10;
  }
}
@media (max-width: 1700px) {
  .block__banner .banner__wrapper {
    padding: 345px 0 80px 185px;
  }
  .block__banner .banner__wrapper h2.banner__name {
    font-size: 58px;
    margin-bottom: 16px;
  }
  .block__banner .banner__wrapper p.banner__description {
    margin-top: 35px;
    max-width: 900px;
    font-size: 22px;
  }
  .wrapper .block__news .news-wrapper .news__item .item__wrapper .item__info {
    display: grid;
    grid-template-columns: 66% 30%;
    -moz-column-gap: 3%;
         column-gap: 3%;
  }
  .wrapper .block__slider .swiper .white-block {
    position: absolute;
    top: 0;
    left: -51%;
    width: 50%;
    height: 100%;
    background-color: #ff0000;
    z-index: 2;
  }
  .wrapper .block__slider .swiper .white-block-right {
    right: -54% !important;
    left: auto;
  }
  .wrapper .block__slider .swiper .swiper-button-prev {
    display: none;
  }
  .wrapper .block__slider .swiper .swiper-button-next {
    display: none;
  }
}
@media (max-width: 1500px) {
  .wrapper .block__news .news-wrapper .news__item .item__wrapper .item__info {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 0.5fr;
    -moz-column-gap: 3%;
         column-gap: 3%;
  }
  .wrapper .block__news .news-wrapper .news__item .item__wrapper .item__info .item__img img {
    min-height: 400px;
  }
  .wrapper .block__news .news-wrapper .news__item .item__wrapper .item__info .item__text {
    align-items: center;
  }
}
@media (max-width: 1350px) {
  .btns {
    margin-top: 62px;
    flex-direction: column;
    width: 100%;
  }
  .block__banner .banner__wrapper {
    padding: 320px 0 80px;
  }
  .block__banner .banner__wrapper h2.banner__name {
    font-size: 50px;
    margin-bottom: 16px;
    text-align: center;
  }
  .block__banner .banner__wrapper p.banner__description {
    max-width: 900px;
    font-size: 19px;
    margin: 35px auto 0;
  }
  .block__banner .qr-code {
    right: 20px;
    bottom: 20px;
    top: auto;
  }
  .wrapper h1.block__naming {
    font-size: 40px;
    padding-bottom: 0.9em;
  }
  .wrapper .block__subnaming p.subnaming {
    font-size: 20px;
  }
  .wrapper .block__slider {
    min-height: 565px;
  }
  .wrapper .block__slider .swiper {
    height: 500px;
    padding-left: 12px;
  }
  .wrapper .block__slider .swiper .swiper-wrapper .swiper-slide {
    max-width: 320px;
    height: 422px;
  }
  .wrapper .block__slider .swiper .swiper-wrapper .swiper-slide-active {
    max-width: 380px;
    width: 370px !important;
    height: 487px !important;
  }
  #btn-wh {
    margin-right: 0;
    margin-bottom: 40px;
  }
  #btn-banner {
    max-width: 455px;
  }
  #btn-banner:nth-child(2) {
    margin-left: 0px;
    margin-top: 25px;
  }
}
@media (max-width: 1170px) {
  .wrapper .block__slider {
    min-height: 565px;
  }
  .wrapper .block__slider .swiper {
    height: 500px;
    padding-left: 15px;
  }
  .wrapper .block__slider .swiper .swiper-wrapper .swiper-slide {
    max-width: 280px;
    height: 370px;
  }
  .wrapper .block__slider .swiper .swiper-wrapper .swiper-slide-active {
    max-width: 340px;
    width: 330px !important;
    height: 435px !important;
  }
}
@media (max-width: 1000px) {
  .block__banner .banner__wrapper {
    padding: 300px 0 80px;
  }
  .block__banner .banner__wrapper h2.banner__name {
    font-size: 40px;
    margin-bottom: 16px;
    text-align: center;
  }
  .block__banner .banner__wrapper p.banner__description {
    max-width: 600px;
    font-size: 15px;
    margin: 35px auto 0;
  }
  .wrapper h1.block__naming {
    font-size: 37px;
    padding-bottom: 0.75em;
  }
  .wrapper p.block_description {
    text-align: justify;
    font-size: 19px;
  }
  .wrapper .block__subnaming .line {
    width: 35%;
    height: 1px;
    background-color: #797979;
  }
  .wrapper .block__subnaming p.subnaming {
    font-size: 16px;
  }
  .wrapper .block__slider {
    min-height: 605px;
  }
  .wrapper .block__slider .swiper {
    height: 540px;
    max-width: 700px;
  }
  .wrapper .block__slider .swiper .swiper-wrapper {
    align-items: center;
  }
  .wrapper .block__slider .swiper .swiper-wrapper .swiper-slide {
    max-width: 360px;
    height: 475px;
  }
  .wrapper .block__slider .swiper .swiper-wrapper .swiper-slide-active {
    max-width: 410px;
    width: 410px !important;
    height: 540px !important;
  }
  .wrapper .block__info p.info__descr {
    font-size: 22px;
  }
  .wrapper .block__news .news-wrapper .news__item .item__wrapper h2.item__naming {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .wrapper .block__news .news-wrapper .news__item .item__wrapper .item__info {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 0.3fr;
    -moz-column-gap: 3%;
         column-gap: 3%;
  }
  .wrapper .block__news .news-wrapper .news__item .item__wrapper .item__info .item__img img {
    width: 100%;
    min-height: 300px;
  }
  .wrapper .block__news .news-wrapper .news__item .item__wrapper .item__info .item__text p.text {
    max-height: 220px;
    font-size: 20px;
  }
  .wrapper .block__news .news-wrapper .news__item .item__wrapper .item__info .item__text p.date {
    font-size: 17px;
  }
}
@media (max-width: 768px) {
  .block__banner .banner__wrapper {
    padding: 250px 0 80px;
  }
  .block__banner .banner__wrapper h2.banner__name {
    font-size: 30px;
    margin-bottom: 16px;
    text-align: center;
  }
  .block__banner .banner__wrapper p.banner__description {
    text-align: center;
    max-width: 400px;
    font-size: 15px;
    margin: 35px auto 0;
  }
  .wrapper h1.block__naming {
    font-size: 32px;
    padding-bottom: 0.5em;
  }
  .wrapper p.block_description {
    font-size: 17px;
  }
  .wrapper .block__info p.info__descr {
    font-size: 19px;
  }
  .wrapper .block__news .news-wrapper .news__item .item__wrapper h2.item__naming {
    font-size: 27px;
    margin-bottom: 20px;
  }
  .wrapper .block__news .news-wrapper .news__item .item__wrapper .item__info {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0.9fr 0.3fr;
    -moz-column-gap: 3%;
         column-gap: 3%;
  }
  .wrapper .block__news .news-wrapper .news__item .item__wrapper .item__info .item__img img {
    width: 100%;
    min-height: 250px;
  }
  .wrapper .block__news .news-wrapper .news__item .item__wrapper .item__info .item__text p.text {
    max-height: 220px;
    font-size: 20px;
  }
  .wrapper .block__news .news-wrapper .news__item .item__wrapper .item__info .item__text p.date {
    font-size: 17px;
  }
  .wrapper .block__slider {
    min-height: 565px;
  }
  .wrapper .block__slider .swiper {
    height: 500px;
    padding-left: 15px;
  }
  .wrapper .block__slider .swiper .swiper-wrapper .swiper-slide {
    max-width: 280px;
    height: 370px;
  }
  .wrapper .block__slider .swiper .swiper-wrapper .swiper-slide-active {
    max-width: 340px;
    width: 330px !important;
    height: 435px !important;
  }
  #btn-wh {
    width: 340px;
    text-align: center;
  }
  #btn-pr {
    width: 300px;
    text-align: center;
  }
  #btn-banner {
    max-width: 300px;
    text-align: center;
    font-size: 20px;
  }
}
@media (max-width: 580px) {
  .block__banner .qr-code {
    right: 20px;
    bottom: 20px;
    top: auto;
  }
  .wrapper h1.block__naming {
    font-size: 26px;
  }
  .wrapper .block__subnaming .line {
    width: 23%;
  }
  .wrapper .block__info p.info__descr {
    font-size: 17px;
  }
  .wrapper .block__news .news-wrapper .news__item .item__wrapper h2.item__naming {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .wrapper .block__news .news-wrapper .news__item .item__wrapper .item__info {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0.8fr 0.2fr;
    -moz-column-gap: 3%;
         column-gap: 3%;
  }
  .wrapper .block__news .news-wrapper .news__item .item__wrapper .item__info .item__img img {
    width: 100%;
    min-height: 190px;
  }
  .wrapper .block__news .news-wrapper .news__item .item__wrapper .item__info .item__text p.text {
    max-height: 200px;
    font-size: 18px;
  }
  .wrapper .block__news .news-wrapper .news__item .item__wrapper .item__info .item__text p.date {
    font-size: 15px;
  }
  .wrapper .block__slider {
    min-height: 525px;
  }
  .wrapper .block__slider .swiper {
    height: 440px;
    padding-left: 0px;
  }
  .wrapper .block__slider .swiper .swiper-wrapper .swiper-slide {
    max-width: 240px;
    height: 315px;
  }
  .wrapper .block__slider .swiper .swiper-wrapper .swiper-slide-active {
    max-width: 300px;
    width: 290px !important;
    height: 380px !important;
  }
  #btn-wh {
    width: 300px;
    font-size: 20px;
  }
  #btn-pr {
    width: 260px;
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .wrapper .block__slider .swiper {
    padding-right: 60px;
  }
}
@media (max-width: 415px) {
  .wrapper .block__slider .swiper {
    padding-right: 0;
    padding-left: 110px;
  }
}
@media (max-width: 380px) {
  .wrapper .block__slider .swiper {
    padding-right: 0;
    padding-left: 75px;
  }
}/*# sourceMappingURL=main.css.map */